 .at-wrap {
     width: 100vw;
     height: 100vh;
     margin: 0 auto;
     /* border: 1px solid rgba(0, 0, 0, 0.12); */
     display: flex;
     flex-direction: column;
     overflow: hidden;
     position: relative;
 }

 .at-content {
     position: relative;
     overflow: hidden;
     flex: 1 1 auto;
 }

 /** Sidebar **/
 .at-sidebar {
     position: absolute;
     top: 0;
     left: 0;
     bottom: 0;
     max-width: 70px;
     width: auto;
     display: flex;
     align-content: stretch;
     z-index: 1001;
     overflow: hidden;
     border-right: 1px solid rgba(0, 0, 0, 0.12);
     background: #f7f7f7;
 }

 .at-sidebar:hover {
     max-width: 400px;
     transition: max-width 0.2s;
     overflow-y: auto;
 }

 .at-viewport {
     overflow-y: auto;
     position: absolute;
     top: 0;
     left: 70px;
     right: 0;
     bottom: 0;
     padding-right: 20px;
 }

 .at-footer {
     flex: 0 0 auto;
     background: #676767;
     color: #fff;
 }

 /** Overlay **/

 .at-overlay {
     /** Fill Parent */
     position: absolute;
     top: 0;
     left: 0;
     right: 0;
     bottom: 0;
     z-index: 1002;

     /* Blurry dark shade */
     backdrop-filter: blur(3px);
     background: rgba(0, 0, 0, 0.5);

     /** center content */
     display: flex;
     justify-content: center;
     align-items: flex-start;
 }

 .at-overlay-content {
     /* white box with drop-shadow */
     margin-top: 20px;
     background: #fff;
     box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.3);
     padding: 10px;
 }

 /** Track selector **/
 .at-track {
     display: flex;
     position: relative;
     padding: 5px;
     transition: background 0.2s;
     cursor: pointer;
 }

 .at-track:hover {
     background: rgba(0, 0, 0, 0.1);
 }

 .at-track>.at-track-icon,
 .at-track>.at-track-details {
     display: flex;
     flex-direction: column;
     justify-content: center;
 }

 .at-track>.at-track-icon {
     flex-shrink: 0;
     font-size: 32px;
     opacity: 0.5;
     transition: opacity 0.2s;
     width: 64px;
     height: 64px;
     margin-right: 5px;
     align-items: center;
 }

 .at-track-name {
     font-weight: bold;
     margin-bottom: 5px;
 }

 .at-track:hover>.at-track-icon {
     opacity: 0.8;
 }

 .at-track.active {
     background: rgba(0, 0, 0, 0.03);
 }

 .at-track.active>.at-track-icon {
     color: #636363;
     opacity: 1;
 }

 .at-track>.at-track-name {
     font-weight: 500;
 }

 /** Footer **/
 .at-controls {
     flex: 0 0 auto;
     display: flex;
     justify-content: space-between;
     background: #313131;
     color: #fff;
 }

 .at-controls>div {
     display: flex;
     justify-content: flex-start;
     align-content: center;
     align-items: center;
 }

 .at-controls>div>* {
     display: flex;
     text-align: center;
     align-items: center;
     justify-content: center;
     cursor: pointer;
     padding: 4px;
     margin: 0 3px;
 }

 .at-controls .btn {
     color: #fff;
     border-radius: 0;
     height: 40px;
     width: 40px;
     height: 40px;
     font-size: 16px;
 }

 .at-controls .btn.disabled {
     cursor: progress;
     opacity: 0.5;
 }

 .at-controls a.active {
     background: #727272;
     text-decoration: none;
     border-radius: 4px;
 }

 .at-controls .btn i {
     vertical-align: top;
 }

 .at-controls select {
     -moz-appearance: none;
     -webkit-appearance: none;
     appearance: none;
     border: none;
     width: 100%;
     height: 40px;
     background: #535353;
     padding: 4px 10px;
     color: #fff;
     font-size: 16px;
     text-align-last: center;
     text-align: center;
     -ms-text-align-last: center;
     -moz-text-align-last: center;
     cursor: pointer;
 }

 .at-song-title {
     font-weight: bold;
 }

 .at-cursor-bar {
     /* Defines the color of the bar background when a bar is played */
     background: rgba(23, 157, 247, 0.25);
 }

 .at-selection div {
     /* Defines the color of the selection background */
     background: rgba(64, 64, 255, 0.1);
 }

 .at-cursor-beat {
     /* Defines the beat cursor */
     background: rgba(82, 82, 82, 0.75);
     width: 3px;
 }

 .at-highlight * {
     /* Defines the color of the music symbols when they are being played (svg) */
     fill: #0078ff;
     stroke: #0078ff;
 }
